{% extends "base_business.html" %}

{% block title %}
Add
{% endblock %}

{% block content %}

    <div class="flex">
        <button class="toggle-title">New Post</button>
    </div>
    <div class="add-card mx-auto" id="postTab">
        <form action="{{ url_for('add_product') }}" method="POST" enctype="multipart/form-data">
                <div class="mb-4">
                    <div id="imagePreview" style="display: flex; flex-wrap: wrap; margin-top: 10px; justify-content: center; margin-bottom: 1rem;"></div>
                    <label for="product_images" class="label">Product Images (up to 3):</label>
                    <input type="file" class="custom-file-upload" id="product_images" name="product_images" accept="image/*" multiple onchange="previewImages();">
                    <label for="product_images" class="upload-btn">Choose File</label>
                </div>
            <div class="mb-4">
                <label for="post_title" class="label">Title:</label>
                <input type="text" class="form-input" id="post_title" name="post_title" placeholder="Enter Title" required>
            </div>
            <div class="mb-4">
                <label for="post_description" class="label">Description:</label>
                <input type="text" class="form-input" id="post_description" name="post_description" placeholder="Enter Description" required>
            </div>
            <div class="form-group">
                <label for="category" class="label">Category:</label>
                <select id="category" name="category" class="form-input" required>
                    <option value="" selected>Select a category</option>
                    {% for category in categories %}
                        <option value="{{ category[0] }}">{{ category[1] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="subcategory" class="label">Subcategory:</label>
                <select id="subcategory" name="subcategory" class="form-input">
                    <option value="" selected>Select a subcategory</option>
                    {% for subcategory in subcategories %}
                        <option value="{{ subcategory[0] }}">{{ subcategory[1] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-4">
                <label for="post_price" class="label">Price:</label>
                <input type="number" class="form-input" id="post_price" name="post_price" min="0" placeholder="Enter Price" value="0">
            </div>
            <div class="mb-4">
                <label for="stock_num" class="label">Stock:</label>
                <input type="number" class="form-input" id="stock_num" name="stock_num" min="0" placeholder="Enter available stock" value="0">
            </div>
            <button type="submit" class="settings-button">Save Changes</button>
        </form>
    </div>
</div>
<script>
function previewImages() {
    var preview = document.getElementById('imagePreview');
    preview.innerHTML = '';  // Clear the preview
    var files = document.getElementById('product_images').files;

    if (files.length > 0) {
        for (var i = 0; i < files.length; i++) {
            var file = files[i];
            if (!file.type.startsWith('image/')){ continue }  // Skip non-image files

            var img = document.createElement('img');
            img.classList.add('img-preview');
            img.file = file;
            img.style.width = '200px'; // Set the width of the preview image
            img.style.height = '200px'; // Set the height of the preview image
            img.style.marginRight = '10px'; // Margin between images
            img.style.borderRadius = '5px'; // Optional: if you want round corners

            preview.appendChild(img);

            var reader = new FileReader();
            reader.onload = (function(aImg) { return function(e) { aImg.src = e.target.result; }; })(img);
            reader.readAsDataURL(file);
        }
    }
}
</script>

{% endblock %}
