{% extends "base_admin.html" %}

{% block title %}
Admin Page
{% endblock %}

{% block content %}
<div class="login-form-container">
    <div>
        <h1 style="color: #E0E0E0; font-size: 2.5rem; font-weight: bold; margin-bottom: 20px;">Welcome to the Admin Page</h1>

        <select id="table-select" class="form-input" style="margin-bottom: 20px;">
            <option selected>Select a Table</option>
            {% for table in tables %}
            <option value="{{ table }}">{{ table }}</option>
            {% endfor %}
        </select>

        <!-- Filter container that will be populated based on the selected table -->
        <div id="filter-container" style="margin-bottom: 20px;"></div>

        <div class="scroll-container">
            <div id="table-data" style="color: #E0E0E0; margin-top: 20px;">
                <!-- Table data will be loaded here -->
            </div>
        </div>
    </div>
</div>

<style>
    /* Additional CSS for table and title styling */
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd; /* Light grey line for separation */
    }

    th {
        background-color: #555; /* Darker shade for headers */
        color: white; /* White text for headers */
    }

    /* Styling the select element and its options */
    select {
        background-color: #333; /* Dark background for the dropdown */
        color: white; /* Light color for the text */
    }

    select option {
        background-color: #555; /* Slightly lighter shade for options */
        color: white; /* White text for options */
    }
</style>

<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script>
    $(document).ready(function() {
        $('#table-select').on('change', function() {
            var selectedTable = $(this).val();
            if (selectedTable) {
                $.ajax({
                    url: '/get_table_data', // Route in app.py
                    type: 'POST',
                    data: { table_name: selectedTable },
                    success: function(response) {
                        $('#table-data').html(response);
                        // Apply styles directly to the table when the data is loaded
                        $('#table-data table').css('color', '#E0E0E0'); // Light grey font for data
                    }
                });
            } else {
                $('#table-data').html('Please select a table.');
            }
            updateFilters(selectedTable);
            //fetchData(selectedTable);
        });

        function updateFilters(table) {
            let filterHTML = '';
            if (table === 'users') {
                filterHTML += '<input type="text" id="user_id_filter" placeholder="Enter User ID">';
                filterHTML += '<button type="button" onclick="fetchData(\'' + table + '\')">Filter</button>';
            }
            if (table === 'business') {
                filterHTML += '<input type="text" id="business_id_filter" placeholder="Enter Business ID">';
                filterHTML += '<button onclick="fetchData(\'' + table + '\')">Filter</button>';
            }
            if (table === 'customer') {
                filterHTML += '<input type="text" id="customer_id_filter" placeholder="Enter Customer ID">';
                filterHTML += '<button onclick="fetchData(\'' + table + '\')">Filter</button>';
            }
            if (table === 'wallet') {
                filterHTML += '<input type="text" id="wallet_id_filter" placeholder="Enter Wallet ID">';
                filterHTML += '<button onclick="fetchData(\'' + table + '\')">Filter</button>';
            }
            if (table === 'category') {
                filterHTML += '<input type="text" id="category_id_filter" placeholder="Enter Category ID">';
                filterHTML += '<button onclick="fetchData(\'' + table + '\')">Filter</button>';
            }
            if (table === 'subcategory') {
                filterHTML += '<input type="text" id="subcategory_id_filter" placeholder="Enter Subcategory ID">';
                filterHTML += '<button onclick="fetchData(\'' + table + '\')">Filter</button>';
            }
            if (table === 'product') {
                filterHTML += '<input type="text" id="product_id_filter" placeholder="Enter Product ID">';
                filterHTML += '<button onclick="fetchData(\'' + table + '\')">Filter</button>';
            }
            if (table === 'orders') {
                filterHTML += '<input type="text" id="order_id_filter" placeholder="Enter Order ID">';
                filterHTML += '<button type="button" onclick="fetchData(\'' + table + '\')">Filter</button>';
            }
            if (table === 'admins') {
                filterHTML += '<input type="text" id="admin_id_filter" placeholder="Enter Admin ID">';
                filterHTML += '<button onclick="fetchData(\'' + table + '\')">Filter</button>';
            }
            if (table === 'basket') {
                filterHTML += '<input type="text" id="basket_id_filter" placeholder="Enter Basket ID">';
                filterHTML += '<button onclick="fetchData(\'' + table + '\')">Filter</button>';
            }
            if (table === 'favorites') {
                filterHTML += '<input type="text" id="favorite_id_filter" placeholder="Enter Customer ID">';
                filterHTML += '<button onclick="fetchData(\'' + table + '\')">Filter</button>';
            }
            if (table === 'images') {
                filterHTML += '<input type="text" id="image_id_filter" placeholder="Enter Image ID">';
                filterHTML += '<button onclick="fetchData(\'' + table + '\')">Filter</button>';
            }
            if (table === 'review') {
                filterHTML += '<input type="text" id="review_id_filter" placeholder="Enter Review ID">';
                filterHTML += '<button onclick="fetchData(\'' + table + '\')">Filter</button>';
            }
            if (table === 'comments') {
                filterHTML += '<input type="text" id="comment_id_filter" placeholder="Enter Comment ID">';
                filterHTML += '<button onclick="fetchData(\'' + table + '\')">Filter</button>';
            }
            if (table === 'shipping_info') {
                filterHTML += '<input type="text" id="shippingInfo_id_filter" placeholder="Enter Shipping Info ID">';
                filterHTML += '<button onclick="fetchData(\'' + table + '\')">Filter</button>';
            }
            // Add similar cases for other tables if needed
            $('#filter-container').html(filterHTML);
        }
        //function fetchData(table) {
        //    let filterValue = $('#filter-container input').val() || '';
        //    $.ajax({
        //        url: '/get_table_data',
        //        type: 'POST',
        //        data: {
        //            table_name: table,
        //            filter: filterValue
        //        },
        //        success: function(response) {
        //            $('#table-data').html(response);
        //        }
        //    });
        //}

        window.fetchData = function(table) {
            event.preventDefault(); // Prevent the default form submission behavior
            var filterValue = $('#filter-container input').val() || '';
            console.log('Fetching data for table:', table, 'with filter:', filterValue);  // Log the filter value
            $.ajax({
                url: '/get_table_data',
                type: 'POST',
                data: {
                    table_name: table,
                    filter: filterValue
                },
                success: function(response) {
                    $('#table-data').html(response);
                },
                error: function(error) {
                    console.error('Error fetching data:', error);
                }
            });
            //let userIDFilter = $('#user_id_filter').val() || '';
            //console.log('Fetching data for table:', table, 'with filter:', userIDFilter);  // Log the filter value
            //$.ajax({
            //    url: '/get_table_data',
            //    type: 'POST',
            //    data: {
            //        table_name: table,
            //        filter: userIDFilter
            //    },
            //    success: function(response) {
            //        $('#table-data').html(response);
            //    },
            //    error: function(error) {
            //        console.error('Error fetching data:', error);
            //    }
            //});
            //let businessIDFilter = $('#business_id_filter').val() || '';
            //console.log('Fetching data for table:', table, 'with filter:', businessIDFilter);  // Log the filter value
            //$.ajax({
            //    url: '/get_table_data',
            //    type: 'POST',
            //    data: {
            //        table_name: table,
            //        filter: businessIDFilter
            //    },
            //    success: function(response) {
            //        $('#table-data').html(response);
            //    },
            //    error: function(error) {
            //        console.error('Error fetching data:', error);
            //    }
            //});
            //let customerIDFilter = $('#customer_id_filter').val() || '';
            //console.log('Fetching data for table:', table, 'with filter:', customerIDFilter);  // Log the filter value
            //$.ajax({
            //    url: '/get_table_data',
            //    type: 'POST',
            //    data: {
            //        table_name: table,
            //        filter: customerIDFilter
            //    },
            //    success: function(response) {
            //        $('#table-data').html(response);
            //    },
            //    error: function(error) {
            //        console.error('Error fetching data:', error);
            //    }
            //});
            //let walletIDFilter = $('#wallet_id_filter').val() || '';
            //console.log('Fetching data for table:', table, 'with filter:', walletIDFilter);  // Log the filter value
            //$.ajax({
            //    url: '/get_table_data',
            //    type: 'POST',
            //    data: {
            //        table_name: table,
            //        filter: walletIDFilter
            //    },
            //    success: function(response) {
            //        $('#table-data').html(response);
            //    },
            //    error: function(error) {
            //        console.error('Error fetching data:', error);
            //    }
            //});
            //let categoryIDFilter = $('#category_id_filter').val() || '';
            //console.log('Fetching data for table:', table, 'with filter:', categoryIDFilter);  // Log the filter value
            //$.ajax({
            //    url: '/get_table_data',
            //    type: 'POST',
            //    data: {
            //        table_name: table,
            //        filter: categoryIDFilter
            //    },
            //    success: function(response) {
            //        $('#table-data').html(response);
            //    },
            //    error: function(error) {
            //        console.error('Error fetching data:', error);
            //    }
            //});
            //let subcategoryIDFilter = $('#subcategory_id_filter').val() || '';
            //console.log('Fetching data for table:', table, 'with filter:', subcategoryIDFilter);  // Log the filter value
            //$.ajax({
            //    url: '/get_table_data',
            //    type: 'POST',
            //    data: {
            //        table_name: table,
            //        filter: subcategoryIDFilter
            //    },
            //    success: function(response) {
            //        $('#table-data').html(response);
            //    },
            //    error: function(error) {
            //        console.error('Error fetching data:', error);
            //    }
            //});
            //let productIDFilter = $('#product_id_filter').val() || '';
            //console.log('Fetching data for table:', table, 'with filter:', productIDFilter);  // Log the filter value
            //$.ajax({
            //    url: '/get_table_data',
            //    type: 'POST',
            //    data: {
            //        table_name: table,
            //        filter: productIDFilter
            //    },
            //    success: function(response) {
            //        $('#table-data').html(response);
            //    },
            //    error: function(error) {
            //        console.error('Error fetching data:', error);
            //    }
            //});
            //let orderIDFilter = $('#order_id_filter').val() || '';
            //console.log('Fetching data for table:', table, 'with filter:', orderIDFilter);  // Log the filter value
            //$.ajax({
            //    url: '/get_table_data',
            //    type: 'POST',
            //    data: {
            //        table_name: table,
            //        filter: orderIDFilter
            //    },
            //    success: function(response) {
            //        $('#table-data').html(response);
            //    },
            //    error: function(error) {
            //        console.error('Error fetching data:', error);
            //    }
            //});
            //let adminIDFilter = $('#admin_id_filter').val() || '';
            //console.log('Fetching data for table:', table, 'with filter:', adminIDFilter);  // Log the filter value
            //$.ajax({
            //    url: '/get_table_data',
            //    type: 'POST',
            //    data: {
            //        table_name: table,
            //        filter: adminIDFilter
            //    },
            //    success: function(response) {
            //        $('#table-data').html(response);
            //    },
            //    error: function(error) {
            //        console.error('Error fetching data:', error);
            //    }
            //});
            //let basketIDFilter = $('#basket_id_filter').val() || '';
            //console.log('Fetching data for table:', table, 'with filter:', basketIDFilter);  // Log the filter value
            //$.ajax({
            //    url: '/get_table_data',
            //    type: 'POST',
            //    data: {
            //        table_name: table,
            //        filter: basketIDFilter
            //    },
            //    success: function(response) {
            //        $('#table-data').html(response);
            //    },
            //    error: function(error) {
            //        console.error('Error fetching data:', error);
            //    }
            //});
            //let favoriteIDFilter = $('#favorite_id_filter').val() || '';
            //console.log('Fetching data for table:', table, 'with filter:', favoriteIDFilter);  // Log the filter value
            //$.ajax({
            //    url: '/get_table_data',
            //    type: 'POST',
            //    data: {
            //        table_name: table,
            //        filter: favoriteIDFilter
            //    },
            //    success: function(response) {
            //        $('#table-data').html(response);
            //    },
            //    error: function(error) {
            //        console.error('Error fetching data:', error);
            //    }
            //});
            //let imageIDFilter = $('#image_id_filter').val() || '';
            //console.log('Fetching data for table:', table, 'with filter:', imageIDFilter);  // Log the filter value
            //$.ajax({
            //    url: '/get_table_data',
            //    type: 'POST',
            //    data: {
            //        table_name: table,
            //        filter: imageIDFilter
            //    },
            //    success: function(response) {
            //        $('#table-data').html(response);
            //    },
            //    error: function(error) {
            //        console.error('Error fetching data:', error);
            //    }
            //});
            //let reviewIDFilter = $('#review_id_filter').val() || '';
            //console.log('Fetching data for table:', table, 'with filter:', reviewIDFilter);  // Log the filter value
            //$.ajax({
            //    url: '/get_table_data',
            //    type: 'POST',
            //    data: {
            //        table_name: table,
            //        filter: reviewIDFilter
            //    },
            //    success: function(response) {
            //        $('#table-data').html(response);
            //    },
            //    error: function(error) {
            //        console.error('Error fetching data:', error);
            //    }
            //});
            //let commentIDFilter = $('#comment_id_filter').val() || '';
            //console.log('Fetching data for table:', table, 'with filter:', commentIDFilter);  // Log the filter value
            //$.ajax({
            //    url: '/get_table_data',
            //    type: 'POST',
            //    data: {
            //        table_name: table,
            //        filter: commentIDFilter
            //    },
            //    success: function(response) {
            //        $('#table-data').html(response);
            //    },
            //    error: function(error) {
            //        console.error('Error fetching data:', error);
            //    }
            //});
            //let shippingInfoIDFilter = $('#shippingInfo_id_filter').val() || '';
            //console.log('Fetching data for table:', table, 'with filter:', shippingInfoIDFilter);  // Log the filter value
            //$.ajax({
            //    url: '/get_table_data',
            //    type: 'POST',
            //    data: {
            //        table_name: table,
            //        filter: shippingInfoIDFilter
            //    },
            //    success: function(response) {
            //        $('#table-data').html(response);
            //    },
            //    error: function(error) {
            //        console.error('Error fetching data:', error);
            //    }
            //});
        };
    });
</script>
{% endblock %}