<!DOCTYPE html>
<html lang="en">
<head>
       <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="/static/default_dark.css" id="theme-stylesheet" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs/build/css/alertify.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs/build/css/themes/default.min.css" />
</head>
<body class="flex flex-col min-h-screen">

<div class="container mx-auto">
    <div class="navbar fixed top-0 left-0 right-0" id="navbar">
        <div class="navbar-brand">
            <a href="" class="btn" id="logo">
                <img src="/static/logo_white.png" alt="Logo" id="logoImg">
            </a>
            <h1>{% block title %} {% endblock %}</h1>
        </div>
        <form action="" method="get" class="flex items-center">
            <input id="query" type="text" name="query" placeholder="Search..." class="search-box" required>
            <button type="submit" class="btn px-4 py-2 text-white rounded-r"><i class="icon-color fa-solid fa-magnifying-glass"></i></button>
        </form>
        <div class="navbar-menu" id="navbar-menu">
            <!-- Add navigation links here -->
            <a href="{{url_for('market')}}" class="btn"><i class="icon-color fa-solid fa-cart-shopping"></i> Market</a>
            <a href="{{url_for('profile')}}" class="btn"><i class="icon-color fa-solid fa-user"></i> Profile</a>
            <a href="{{url_for('basket', product_id=0)}}" class="btn"><i class="icon-color fa-solid fa-user"></i> Basket</a>
            <a href="{{url_for('logout')}}" class="btn"><i class="icon-color fa-solid fa-right-from-bracket"></i> Logout</a>
            <button id="toggle-theme-btn" onclick="toggleTheme()"><i class="icon-color fa-solid fa-moon"></i></button>
        </div>
    </div>


    <div class="top-container">
        {%  block content %}
        {%  endblock %}
    </div>
</div>

<div class="bottom-navbar">
    <div class="bottom-navbar-menu">
        <!-- Add navigation links here -->
        <a href="" class="btn"><i class="fa-solid fa-plus"></i></a>
        <a href="" class="btn"><i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i></a>
        <a href="" class="btn"><i class="fa-solid fa-newspaper" style="color: #ffffff;"></i></a>
        <a href="" class="btn"><i class="fa-solid fa-user"></i></a>
        <a href="" class="btn"><i class="fa-solid fa-inbox" style="color: #ffffff;"></i></a>
        <a href="" class="btn"><i class="fa-solid fa-right-from-bracket"></i></a>
    </div>
</div>


<footer class="footer">
    <div class="grid grid-cols-2 md:grid-cols-3 gap-3">
        <div class="col-span-2 md:col-span-1">
            <h4 class="text-lg font-semibold mb-2">Navigation</h4>
            <ul class="list-none p-0 m-0">

            </ul>
        </div>
        <div class="col-span-2 md:col-span-1 mx-auto justify-center">
            <h4 class="text-lg font-semibold mb-2">Communication</h4>
            <ul class="list-none p-0 m-0">
                <li>info@madensell.com.tr</li>
                <li>0 (312) 266 2626</li>
                <li>Bilkent University, Ankara</li>
            </ul>
        </div>
        <div class="col-span-2 md:col-span-1 mx-auto justify-center">
            <a href="#" class="mx-2">Facebook</a>
            <a href="#" class="mx-2">Twitter</a>
            <a href="#" class="mx-2">LinkedIn</a>
            <a href="https://www.instagram.com/madensellbilkent/" target="_blank" class="mx-2">Instagram</a>
        </div>
    </div>

    <a href="https://w3.bilkent.edu.tr/www/" target="_blank" class="btn">
        <img class="mt-4 " src="/static/bilkent.png" alt="Bilkent">
    </a>
    <p class="mt-4">&copy; 2024 Fackd by Bilkent University. All rights reserved.</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/alertifyjs/build/alertify.min.js"></script>
</body>
</html>
