<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="/static/default_dark.css" id="theme-stylesheet" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs/build/css/alertify.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs/build/css/themes/default.min.css" />
</head>
<body class="flex flex-col min-h-screen">

<div class="container mx-auto">
    <div class="navbar fixed top-0 left-0 right-0" id="navbar">
        <div class="navbar-brand">
            <a href="" class="btn" id="logo">
                <img src="/static/logo_white.png" alt="Logo" id="logoImg">
            </a>
            <h1>{% block title %} {% endblock %}</h1>
        </div>
         <form action="" method="get" class="flex items-center">
            <!-- Wrap the search box and suggestions in a div with relative positioning -->
            <div style="position: relative;">
                <input id="query" type="text" name="query" placeholder="Search..." class="search-box" required>
                <div id="searchSuggestions" class="search-suggestions" style="position: absolute; top: 100%; left: 0; right: 0; background-color: rgba(58, 58, 58, 0.6); color: white; z-index: 1000; border-radius: 10px;"></div>
            </div>

            <button type="submit" class="btn px-4 py-2 text-white rounded-r" style="opacity: 80%">
<svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#c11f1f" d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>            </button>
        </form>
        <div class="navbar-menu" id="navbar-menu">
            <div style="display: flex;  flex-direction: row; align-items: center; justify-content: right; /* Distributes space between items */">
                <a href="{{url_for('add_product')}}" class="btn" style="opacity: 80%">
                    <svg xmlns="http://www.w3.org/2000/svg" height="20" width="17.5" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#c11f1f" d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg>
                </a>
                <a href="{{url_for('market')}}" class="btn" style="opacity: 80%">
                    <svg xmlns="http://www.w3.org/2000/svg" height="20" width="25" viewBox="0 0 640 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#c11f1f" d="M36.8 192H603.2c20.3 0 36.8-16.5 36.8-36.8c0-7.3-2.2-14.4-6.2-20.4L558.2 21.4C549.3 8 534.4 0 518.3 0H121.7c-16 0-31 8-39.9 21.4L6.2 134.7c-4 6.1-6.2 13.2-6.2 20.4C0 175.5 16.5 192 36.8 192zM64 224V384v80c0 26.5 21.5 48 48 48H336c26.5 0 48-21.5 48-48V384 224H320V384H128V224H64zm448 0V480c0 17.7 14.3 32 32 32s32-14.3 32-32V224H512z"/></svg>
                </a>
                 <a href="{{url_for('stats')}}" class="btn" style="opacity: 80%">
                    <svg xmlns="http://www.w3.org/2000/svg" height="20" width="17.5" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#c11f1f" d="M160 80c0-26.5 21.5-48 48-48h32c26.5 0 48 21.5 48 48V432c0 26.5-21.5 48-48 48H208c-26.5 0-48-21.5-48-48V80zM0 272c0-26.5 21.5-48 48-48H80c26.5 0 48 21.5 48 48V432c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V272zM368 96h32c26.5 0 48 21.5 48 48V432c0 26.5-21.5 48-48 48H368c-26.5 0-48-21.5-48-48V144c0-26.5 21.5-48 48-48z"/></svg>
                </a>
                <a href="#" class="btn" onclick="toggleWalletVisibility(event);"><img id="profileImage" src="/static/blank.png" style="border-radius: 50%; width: 50px; height: 50px; object-fit: cover; margin: 1rem; border-color: rgba(193, 31, 31, 0.8);"></a>
            </div>
            <div class="wallet-card" id="walletCard">
                <div class="detailed-post">
                     <div class="profile-for_card">
                            <img id="profileImage2" class="profile-for_card" src="/static/blank.png" >
                            <form action="" method="post">
                                <button type="submit">
                                      <p id="businessName">Business Name</p>
                                </button>
                            </form>
                         <div >
                                <a href="{{url_for('profile')}}" class="btn"><i class="icon-color fa-solid fa-cart-shopping"></i>View</a>
                                <a href="{{url_for('logout')}}" class="btn"><i class="icon-color fa-solid fa-right-from-bracket"></i> Logout</a>
                        </div>
                     </div>
                </div>
                <div class="detailed-post">
                    <div class="detailed-post-content">
                        <h2>Your Wallet:</h2>
                        <h1 style="color: #FFFFFF">Total Balance:</h1>
                        <h3 id="walletBalance">Loading...</h3> <!-- Element to display the wallet balance -->
                    </div>
                    <form id="walletForm" style="width: 100%; display: flex; flex-direction: row; height: 3rem; font-size: 1rem; margin-top: 0.5rem">
                        <input type="number" class="form-input" style="width: 1rem;" name="insert_amount">
                        <button class="settings-button" type="submit" style="margin-left: 0.5rem">Transfer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="top-container">
        {%  block content %}
        {%  endblock %}
    </div>
</div>

<div class="bottom-navbar">
    <div class="bottom-navbar-menu">
        <!-- Add navigation links here -->
        <a href="" class="btn"><i class="fa-solid fa-plus"></i></a>
        <a href="" class="btn"><i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i></a>
        <a href="" class="btn"><i class="fa-solid fa-newspaper" style="color: #ffffff;"></i></a>
        <a href="" class="btn"><i class="fa-solid fa-user"></i></a>
        <a href="" class="btn"><i class="fa-solid fa-inbox" style="color: #ffffff;"></i></a>
        <a href="" class="btn"><i class="fa-solid fa-right-from-bracket"></i></a>
    </div>
</div>


<footer class="footer">
    <div class="grid grid-cols-2 md:grid-cols-3 gap-3">
        <div class="col-span-2 md:col-span-1">
            <h4 class="text-lg font-semibold mb-2">Navigation</h4>
            <ul class="list-none p-0 m-0">

            </ul>
        </div>
        <div class="col-span-2 md:col-span-1 mx-auto justify-center">
            <h4 class="text-lg font-semibold mb-2">Communication</h4>
            <ul class="list-none p-0 m-0">
                <li>info@madensell.com.tr</li>
                <li>0 (312) 266 2626</li>
                <li>Bilkent University, Ankara</li>
            </ul>
        </div>
        <div class="col-span-2 md:col-span-1 mx-auto justify-center">
            <a href="#" class="mx-2">Facebook</a>
            <a href="#" class="mx-2">Twitter</a>
            <a href="#" class="mx-2">LinkedIn</a>
            <a href="https://www.instagram.com/madensellbilkent/" target="_blank" class="mx-2">Instagram</a>
        </div>
    </div>

    <a href="https://w3.bilkent.edu.tr/www/" target="_blank" class="btn">
        <img class="mt-4 " src="/static/bilkent.png" alt="Bilkent">
    </a>
    <p class="mt-4">&copy; 2024 Fackd by Bilkent University. All rights reserved.</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/alertifyjs/build/alertify.min.js"></script>
<script type="text/javascript">
    alertify.set('notifier','position', 'top-right');
    window.onload = function() {
        {% if message %}
        var messageType = "{{ message_type }}";
        if(messageType === 'error') {
            alertify.error("{{ message }}", 4);
        } else if(messageType === 'success') {
            alertify.success("{{ message }}", 4);
        }
        {% endif %}
    }
</script>
<script>
    document.getElementById('addForm').addEventListener('submit', function() {
        // When the form is submitted, show the spinner
        document.getElementById('spinner').style.display = 'flex';
    });

    document.getElementById('addForm2').addEventListener('submit', function() {
        // When the form is submitted, show the spinner
        document.getElementById('spinner').style.display = 'flex';
    });
</script>
<script>
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
            document.getElementById("navbar").style.padding = "5px 5px";
            document.getElementById("logo").style.fontSize = "25px";
        } else {
            document.getElementById("navbar").style.padding = "35px 10px";
            document.getElementById("logo").style.fontSize = "35px";
        }
    }
</script>
<script>
async function fetchWalletInfo() {
    try {
        const response = await fetch('/wallet');
        const data = await response.json();
        if (response.ok) {
            document.getElementById('walletBalance').textContent = `${data.balance}₺`;
            document.getElementById('businessName').textContent = data.name;
            document.getElementById('profileImage').src = data.profile_image;
            document.getElementById('profileImage2').src = data.profile_image;
        } else {
            console.error('Failed to fetch wallet info:', data.error);
        }
    } catch (error) {
        console.error('Error fetching wallet info:', error);
    }
}



async function updateWalletAmount(event) {
    event.preventDefault();
    const form = event.target;
    const formData = new FormData(form);
    try {
        const response = await fetch('/wallet', {
            method: 'POST',
            body: formData
        });
        const data = await response.json();
        if (response.ok) {
            alert('Amount added: ' + formData.get('insert_amount'));
            fetchWalletInfo(); // Update wallet info on page
        } else {
            alert('Error: ' + data.message);
        }
    } catch (error) {
        console.error('Error updating wallet:', error);
    }
}

document.addEventListener('DOMContentLoaded', function () {
    const walletForm = document.querySelector('#walletForm');
    walletForm.addEventListener('submit', updateWalletAmount);
    fetchWalletInfo(); // Fetch wallet info on page load
});

</script>

<script >
function toggleWalletVisibility(event) {
    event.preventDefault(); // Prevent the default anchor click behavior
    var walletCard = document.getElementById('walletCard');
    if (walletCard.classList.contains('expanded')) {
        walletCard.classList.remove('expanded');
    } else {
        walletCard.classList.add('expanded');
        fetchWalletInfo(); // Fetch wallet info when expanded
    }
}


</script>

<script>
async function fetchRecommendations() {
    const searchInput = document.getElementById('query');
    if (searchInput.value.trim() === '') {
        document.getElementById('searchSuggestions').innerHTML = '';  // Clear suggestions if input is empty
        return;
    }
    const response = await fetch(`/search?query=${encodeURIComponent(searchInput.value)}`);
    if (!response.ok) {
        console.error('Failed to fetch:', response.statusText);
        return;
    }
    const data = await response.json();
    updateSearchSuggestions(data);
}

function updateSearchSuggestions(data) {
    const suggestionsContainer = document.getElementById('searchSuggestions');
    suggestionsContainer.innerHTML = '';  // Clear previous suggestions
    data.forEach(item => {
        const suggestionElement = document.createElement('a');
        suggestionElement.textContent = `${item.name} (${item.type})`;

        // Check the type and set the correct URL path
        if (item.type === 'Business') {
            suggestionElement.href = `/profile/${item.id}`;
        } else if (item.type === 'Product') {
            suggestionElement.href = `/detail/${item.id}`;
        } else if (item.type === 'Category') {
            suggestionElement.href = `/market?category_id=${item.id}`; // Add a query string for category
        } else {
            // Handle other types or provide a fallback URL if necessary
            suggestionElement.href = `#`;
        }

        suggestionElement.classList.add('suggestion-item'); // Add a class for styling if needed
        suggestionsContainer.appendChild(suggestionElement);
    });
}

document.getElementById('query').addEventListener('input', fetchRecommendations);
</script>

<script src="https://cdn.jsdelivr.net/npm/alertifyjs/build/alertify.min.js"></script>
</body>
</html>
