{% extends "base_customer.html" %}
{% block title %}
Basket
{% endblock %}

{% block content %}
            <div class="scroll-container">
                  {% if posts == 'Empty' %}
                        <div class="horizontal-card">
                                <div class="card-content">
                                    <h2>Anyone have not shared any post yet</h2>
                                    <h6> </h6>
                                </div>
                        </div>
                    {% else %}
                        {% for post in products %}
                             <div class="horizontal-card">

                                <img class="horizontal-card-img" src="{{post[13]}}">
                                <div class="card-content">
                                <form action="{{ url_for('post_detail', product_id=post[1]) }}" method="get">
                                        <button type="submit">
                                            <h2>{{ post[7] }}</h2>
                                        </button>
                                    </form>

                                <div class="card-price">
                                     {% if post[6] == 0 %}
                                        <h3>Free</h3>
                                    {% else %}
                                            <h3>{{ post[6] }}₺</h3>
                                    {% endif %}
                                </div>
                                    <h1 style="color: #FFFFFF">Number of Products: (Available Stock: {{post[9]}})</h1>
                                    <form action="{{ url_for('basket', product_id=post[1]) }}" method="post" style="width: 100%;display: flex;flex-direction: row;height: 3rem; font-size: 1rem; margin-top: 0.5rem">
                                        <input type="number" class="form-input" max="{{post[9]}}" style="width: 1rem;" id="numofproducts" name="numofproducts" placeholder="{{ post[3] }}" >
                                        <br>
                                        <button class="settings-button" type="submit" style="margin-left: 0.5rem">Update</button>
                                    </form>
                                </div>

                            </div>
                        {% endfor %}
                    {% endif %}
            </div>
        </div>
        <div class="right-container">
            <div class="detailed-post">
                    <div class="detailed-post-content">
                    <h2>Order Summary:</h2>
                    <h1 style="color: #FFFFFF">Total Price:</h1>
                        <h3>{{total_sum}}₺</h3>
                    <br>
                    </div>
                    <form action="{{ url_for('order', type=0) }}" method="GET" style="width: 100%;display: flex;flex-direction: row;height: 3rem; font-size: 1rem; margin-top: 0.5rem">
                        <button class="settings-button" type="submit" style="margin-left: 0.5rem">Order Now!</button>
                    </form>
                </div>
            </div>
        </div>
</div>


{% endblock %}
