{% if user_type == 1 %}
    {% extends "base_customer.html" %}
{% elif user_type == 2 %}
    {% extends "base_business.html" %}
{% endif %}
{% block title %}
Market
{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha384-DyZuuL25pX2tYAWR5wwTf1PY/Vz9dQqel1QLMB5X1xXZqO2J4nZtv9pXp4pG7L7a" crossorigin="anonymous">
<div class="card-container">
    <form class="filter-card" action="{{ url_for('market') }}" method="post">
        <div class="form-group">
            <select class="form-input" id="post_categories" name="post_categories">
                <option value="">Select a Category</option>
                {% for category in categories %}
                <option value="{{ category[0] }}" {% if selected_category == category[0] %}selected{% endif %}>{{ category[1] }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <select class="form-input" id="post_subcategories" name="post_subcategories">
                <option value="">Select a Subcategory</option>
                {% for subcategory in subcategories %}
                <option value="{{ subcategory[0] }}" {% if selected_subcategory == subcategory[0] %}selected{% endif %}>{{ subcategory[1] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <select class="form-input" id="post_sort" name="post_sort">
                <option value="">Sort by:</option>
                <option value="oldest" {% if selected_sort == "oldest" %}selected{% endif %}>Oldest to Newest</option>
                <option value="newest" {% if selected_sort == "newest" %}selected{% endif %}>Newest to Oldest</option>
                <option value="price_low" {% if selected_sort == "price_low" %}selected{% endif %}>Price: Low to High</option>
                <option value="price_high" {% if selected_sort == "price_high" %}selected{% endif %}>Price: High to Low</option>
            </select>
        </div>
        <button type="submit" class="filter-button">Filter <i class="fas fa-filter" style="color: #ffffff;"></i></button>
    </form>
</div>
</div>
</div>


<div class="bottom-container">
        <div class="card-container">
                  {% if posts == 'Empty' %}
                        <div class="card">
                                <div class="card-content">
                                    <h2>No one have not shared any post yet</h2>
                                    <h6> </h6>
                                </div>
                        </div>
                    {% else %}
                        {% for post in products_without_images %}
                             <div class="card">
                                <div class="profile-for_card">
                                    <img class="profile-for_card" src="{{ post[11] }}" >
                                    <form action="" method="post">
                                        <button type="submit">
                                            <p>{{ post[9] }}</p>
                                        </button>
                                    </form>

                                </div>
                                <img class="card-img" src="/static/blankDark_image.jpg">
                                <div class="card-content">
                                <form action="{{ url_for('post_detail', product_id=post[1]) }}" method="get">
                                        <button type="submit">
                                            <h2>{{ post[3] }}</h2>
                                        </button>
                                    </form>
                                    <h1>{{ post[16] }} / {{ post[14] }}</h1>

                                </div>
                                <div class="card-price">
                                     {% if post.price == 0 %}
                                        <h3>Free</h3>
                                    {% else %}
                                            <h3>{{ post[2] }}₺</h3>
                                    {% endif %}
                                </div>
                                <div class="card-bottom">
                                    <h1>{{ post[7] }} ago</h1>
                                    <!-- Favorite button -->
                                    <form action="{{ url_for('toggle_favorite', product_id=post[1]) }}" method="post">
                                        <button type="submit" class="favorite-button">
                                            <i class="fa fa-heart" aria-hidden="true"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        {% endfor %}

                        {% for post in products_with_images %}
                        <div class="card">
                           <div class="profile-for_card">
                               <img class="profile-for_card" src="{{ post[12] }}" >
                               <form action="{{ url_for('profile', user_id=post[0]) }}" method="get">
                                <button type="submit">
                                       <p>{{ post[10] }}</p>
                                   </button>
                               </form>

                           </div>
                           <img class="card-img" src="{{ post[18] }}">
                           <div class="card-content">
                           <form action="{{ url_for('post_detail', product_id=post[1]) }}" method="get">
                                   <button type="submit">
                                       <h2>{{ post[3] }}</h2>
                                   </button>
                               </form>
                               <h1>{{ post[17] }} / {{ post[15] }}</h1>

                           </div>
                           <div class="card-price">
                                {% if post.price == 0 %}
                                   <h3>Free</h3>
                               {% else %}
                                       <h3>{{ post[2] }}₺</h3>
                               {% endif %}
                           </div>
                           <div class="card-bottom">
                               <h1>{{ post[7] }} ago</h1>
                               <!-- Favorite button -->
                               <form action="{{ url_for('toggle_favorite', product_id=post[1]) }}" method="post">
                                   <button type="submit" class="favorite-button">
                                       <i class="fa fa-heart" aria-hidden="true"></i>
                                   </button>
                               </form>
                           </div>
                       </div>
                        {% endfor %}
                    {% endif %}
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- Popper.js first, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>

{% endblock %}