{% if user_type == 1 %}
    {% extends "base_customer.html" %}
{% elif user_type == 2 %}
    {% extends "base_business.html" %}
{% endif %}
{% block title %}
Post
{% endblock %}

{% block content %}
            <div class="detailed-post" style="height: 500px; padding: 3rem 2rem">
                <div class="slideshow-container">
                    {% if images %}
                        {% for image in images %}
                        <div class="mySlides fade">
                            <img src="{{image[11]}}" onclick="openModal(this.src)" alt="Image" style="width:100%; aspect-ratio: 5 / 4; object-fit: cover; cursor: pointer;">
                        </div>
                        {% endfor %}
                    {% else %}
                        <div class="mySlides fade">
                            <img src="/static/blankDark_image.jpg" style="width:100%;  aspect-ratio: 1 / 1; /* Ensures the image remains square */">
                        </div>
                    {% endif %}
                    <div style="text-align:center" class="dot-container">
                        {% for _ in images %}
                            <span class="dot" onclick="currentSlide({{ loop.index }})"></span>
                        {% else %}
                            <span class="dot" onclick="currentSlide(1)"></span>
                        {% endfor %}
                    </div>
                    
                </div>
            </div>
<div class="comment-container">
    <button class="toggle-title">Reviews</button>
    <div class="scroll-container">
        {% for review in reviews %}
            <div class="comment-card">
                <div class="review-header">
                    <span class="review-username">Reviewed by: {{ review[8] }}</span>
                    <div class="review-average-point">
                        <span class="review-label">Average:</span>
                        {% for i in range(5) %}
                            <span class="{{ 'yellow-star' if i < review[7] else 'gray-star' }}">★</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="review-details">
                    <div class="review-rating review-speed">
                        <span class="review-label">Speed:</span>
                        {% for i in range(5) %}
                            <span class="{{ 'yellow-star' if i < review[4] else 'gray-star' }}">★</span>
                        {% endfor %}
                    </div>
                    <div class="review-rating review-quality">
                        <span class="review-label">Quality:</span>
                        {% for i in range(5) %}
                            <span class="{{ 'yellow-star' if i < review[5] else 'gray-star' }}">★</span>
                        {% endfor %}
                    </div>
                    <div class="review-rating review-interest">
                        <span class="review-label">Interest:</span>
                        {% for i in range(5) %}
                            <span class="{{ 'yellow-star' if i < review[6] else 'gray-star' }}">★</span>
                        {% endfor %}
                    </div>
                <p class="review-comment"><span class="review-label">Comment:</span> {{ review[3] }}</p>
                </div>
            </div>
        {% else %}
            <div class="no-content-message">
                <h2>No reviews yet.</h2>
            </div>
        {% endfor %}
    </div>
</div>





        </div>
        <div class="right-container">
            <div class="detailed-post" style="height: 500px;">
                <div class="profile-header">
                    <img src="{{ product[12] }}" class="profile-image" alt="Profile Image">
                    <div class="profile-details">
                         <form action="" method="get">
                                    <button type="submit">
                                        <p>
                                            {{ product[10] }}
                                        </p>
                                    </button>
                                </form>

                        <h2 class="profile-bio">@{{ product[14] }}</h2>
                        <h2 class="profile-bio">point: {{product[11]}}</h2>
                    </div>
                </div>
                <br>
                <div class="detailed-post-content">
                    <h2>{{product[3]}}</h2>
                    <h1>{{product[25]}} / {{product[23]}}</h1>
                    <h6>{{product[4]}}</h6>
                    {% if product[2] == 0 %}
                        <h3>Free</h3>
                    {% else %}
                            <h3>{{product[2]}}₺</h3>
                    {% endif %}
                    <h6>Available Stock: {{product[5]}} </h6>
                    <h1>{{product[7]}} ago</h1>
                    <br>
                    <form action="" method="post" style="width: 100%;display: flex;flex-direction: row;height: 3rem; font-size: 1rem; margin-top: 0.5rem">
                        <input type="hidden" class="form-input" id="comment" name="comment" value="" >
                         <input type="number" max="{{product[5]}}" class="form-input" style="width: 1rem;" id="numofproducts" name="numofproducts" placeholder="0" >
                        <br>
                        <button class="settings-button" type="submit" style="margin-left: 0.5rem">Add to Basket</button>
                    </form>
                </div>

            </div>
            <div class="comment-container" >
                <button class="toggle-title" >Questions</button>
                <div class="scroll-container">
                 {% for comment in comments %}
                    <div class="comment-card">
                        <div class="comment-header">
                             <div class="profile-for_card">
                                    <img class="profile-for_card" src="{{ comment[7] }}" >
                                    <form action="" method="post">
                                        <button type="submit">
                                            <p>{{comment[5]}} {{comment[6]}}</p>
                                        </button>
                                    </form>

                                </div>
                            <div class="comment-details">
                                <h2 style="color: #FFFFFF">{{comment[3]}}</h2>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
                <div class="mb-4">
                    <form action="" method="post" style="width: 100%;display: flex;flex-direction: row;height: 3rem; font-size: 1rem; margin-top: 0.5rem">
                         <input type="text" class="form-input" id="comment" name="comment" placeholder="Add your comment" >
                        <input type="hidden" class="form-input" id="numofproducts" name="numofproducts" value="" >

                        <br>
                        <button class="settings-button" type="submit" style="margin-left: 0.5rem">Ask</button>
                    </form>
                </div>
            </div>


        </div>
    <!-- The Modal -->
<div id="myModal" class="modal">
    <span onclick="closeModal()" class="close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
</div>

    <!-- Optional JavaScript -->
    <!-- Popper.js first, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>

<script>
let slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}
</script>

<script>
  function showProfiles() {
      soldPopUp = document.getElementById('sold-pop-up');
      soldPopUp.style.display = 'flex';
  }
</script>

<script>
function openModal(src) {
    var modal = document.getElementById('myModal');
    var modalImg = document.getElementById("img01");
    modal.style.display = "flex";
    modalImg.src = src;
}

function closeModal() {
    var modal = document.getElementById('myModal');
    modal.style.display = "none";
}
</script>


{% endblock %}
