{% extends "base_customer.html" %}

{% block title %}
Profile
{% endblock %}

{%  block content %}

<style>

</style>

<div class="profile-card">

    <div class="profile-header">
        <img src="{{user[11]}}" class="profile-image" alt="Profile Image">
        <div class="profile-details">
            <p>
                {{ user[9] }} {{ user[10] }}
            </p>
            <h2>@{{ user[1] }}</h2>
            <h2 class="profile-bio">{{user.bio}}</h2>
            {% if viewing_own_profile %}
                <a href="{{url_for('customer_edit_profile')}}" class="btn">Edit Profile</a>
            {% endif %}
        </div>
    </div>
</div>

</div>
</div>
<div class="flex">

     {% if viewing_own_profile %}
        <button id="favoritesButton" class="toggle-title " onclick="toggleTabs('favoritesTab')">Favorites</button>
        <button id="ordersButton" class="toggle-title selected" onclick="toggleTabs('ordersTab')">Orders</button>
     {% else %}
            <button id="favoritesButton" class="toggle-title " onclick="toggleTabs('favoritesTab')">Favorites</button>
     {% endif %}

</div>
<div class="bottom-container">

    {% if viewing_own_profile %}
        <div id="ordersTab" class="tab" style="display: block;">
            <div class="scroll-container">
                    {% if posts == 'Empty' %}
                            <div class="horizontal-card">
                                    <div class="card-content">
                                        <h2>Anyone have not shared any post yet</h2>
                                        <h6> </h6>
                                    </div>
                            </div>
                        {% else %}
                            {% for post in orders %}
                                <div class="horizontal-card">

                                        <div class="horizontal-card">

                                        <img style="width: 10%" class="horizontal-card-img" src="{{post[16]}}">
                                        <div class="card-content">
                                            <form action="{{ url_for('post_detail', product_id=post[2]) }}" method="get">
                                                <button type="submit">
                                                    <h2>{{ post[5] }}</h2>
                                                </button>
                                            </form>
                                            <h1>{{ post[9] }} / {{ post[8] }}</h1>
                                            <h1 style="color: #FFFFFF">Ordered Amount: {{post[3]}}</h1>
                                            <div class="card-price">
                                                <h3>{{ post[7] }}₺</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="detailed-post">
                                        <div class="profile-for_card">
                                        <img class="profile-for_card" src="{{user[11]}}" alt="Profile Picture" style="margin: 0.5rem;">
                                        <form action="" method="post">
                                            <button type="submit" >
                                                <p>{{ user[9] }} {{ user[10] }}</p>
                                            </button>
                                            </form>
                                        </div>
                                        <div class="detailed-post-content">
                                            <h2>{{ post[10] }}
                                            </h2>
                                            <h1>Phone: {{ post[13] }}</h1>
                                            <h1>Address: {{ post[12] }}, {{ post[14] }}/{{ post[13] }}, {{post[15] }}</h1>
                                        </div>
                                    </div>
                                    <div class="detailed-post">
                                        <div class="detailed-post-content">
                                            {% if post[4] == 0 %}
                                                    <h2>Status: CANCELLED</h2>
                                                    <br>
                                                    <form class="filter-card" action="{{ url_for('profile') }}" method="post">
                                                        <input type="hidden" name="order_id" id="order_id" value="{{ post[0] }}">
                                                        <input type="hidden" name="status" id="status" value=0>
                                                        <button type="submit" class="filter-button">Cancel Order <i class="fas fa-filter" style="color: #ffffff;"></i></button>
                                                    </form>
                                            {% elif post[4] == 1 %}
                                                    <h2>Status: PROCESSING</h2>
                                                    <br>
                                                    <form class="filter-card" action="{{ url_for('profile') }}" method="post">
                                                        <input type="hidden" name="order_id" id="order_id" value="{{ post[0] }}">
                                                        <input type="hidden" name="status" id="status" value=0>
                                                        <button type="submit" class="filter-button">Cancel Order <i class="fas fa-filter" style="color: #ffffff;"></i></button>
                                                    </form>
                                            {% elif post[4] == 2 %}
                                                    <h2>Status: SHIPPING</h2>
                                                    <br>
                                                    <form class="filter-card" action="{{ url_for('profile') }}" method="post">
                                                        <input type="hidden" name="order_id" id="order_id" value="{{ post[0] }}">
                                                        <input type="hidden" name="status" id="status" value=0>
                                                        <button type="submit" class="filter-button">Cancel Order <i class="fas fa-filter" style="color: #ffffff;"></i></button>
                                                    </form>
                                            {% elif post[4] == 3 %}
                                                    <h2>Status: DELIVERED</h2>
                                                    <br>
                                                    <form class="filter-card" action="{{ url_for('profile') }}" method="post">
                                                        <input type="hidden" name="order_id" id="order_id" value="{{ post[0] }}">
                                                        <input type="hidden" name="status" id="status" value=4>
                                                        <button type="submit" class="filter-button">Start Return Process <i class="fas fa-filter" style="color: #ffffff;"></i></button>
                                                        <button type="button" class="settings-button" onclick="showTab({{ post[2] }})">Make Review</button>
                                                    </form>
                                            {% elif post[4] == 4 %}
                                                <h2>Status: RETURNING PROCESS</h2>
                                                    <br>
                                            {% else %}
                                                <h2>Status: RETURNED</h2>
                                                    <br>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                </div>
        </div>
    {% endif %}
    <div id="favoritesTab" class="tab" style="display: none">
        <div class="card-container">

                {% if posts == 'Empty' %}
                        <div class="card">
                                <div class="card-content">
                                    <h2>No one have not shared any post yet</h2>
                                    <h6> </h6>
                                </div>
                        </div>
                    {% else %}
                        {% for post in products_without_images %}
                            <div class="card">
                                <div class="profile-for_card">
                                    <img class="profile-for_card" src="{{ post[12] }}" >
                                    <form action="{{ url_for('profile', user_id=post[0]) }}" method="get">
                                        <button type="submit">
                                            <p>{{ post[10] }}</p>
                                        </button>
                                    </form>

                                </div>
                                <img class="card-img" src="/static/blankDark_image.jpg">
                                <div class="card-content">
                                <form action="{{ url_for('post_detail', product_id=post[1]) }}" method="get">
                                        <button type="submit">
                                            <h2>{{ post[3] }}</h2>
                                        </button>
                                    </form>
                                    <h1>{{ post[17] }} / {{ post[15] }}</h1>

                                </div>
                                <div class="card-price">
                                    {% if post.price == 0 %}
                                        <h3>Free</h3>
                                    {% else %}
                                            <h3>{{ post[2] }}₺</h3>
                                    {% endif %}
                                </div>
                                <div class="card-bottom">
                                    <h1>{{ post[7] }} ago</h1>
                                    <!-- Favorite button -->
                                    <form action="{{ url_for('toggle_favorite', product_id=post[1]) }}" method="post">
                                        <button type="submit" class="favorite-button">
                                            <i class="fa fa-heart" aria-hidden="true"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        {% endfor %}

                        {% for post in products_with_images %}
                        <div class="card">
                        <div class="profile-for_card">
                            <img class="profile-for_card" src="{{ post[12] }}" >
                            <form action="{{ url_for('profile', user_id=post[0]) }}" method="get">
                                <button type="submit">
                                    <p>{{ post[10] }}</p>
                                </button>
                            </form>

                        </div>
                        <img class="card-img" src="{{ post[18] }}">
                        <div class="card-content">
                        <form action="{{ url_for('post_detail', product_id=post[1]) }}" method="get">
                                <button type="submit">
                                    <h2>{{ post[3] }}</h2>
                                </button>
                            </form>
                            <h1>{{ post[17] }} / {{ post[15] }}</h1>

                        </div>
                        <div class="card-price">
                                {% if post.price == 0 %}
                                <h3>Free</h3>
                            {% else %}
                                    <h3>{{ post[2] }}₺</h3>
                            {% endif %}
                        </div>
                        <div class="card-bottom">
                               <h1 id="timeAgo{{ post[1] }}">{{ post[7] }}</h1>
                            <!-- Favorite button -->
                            <form action="{{ url_for('toggle_favorite', product_id=post[1]) }}" method="post">
                                <button type="submit" class="favorite-button">
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                        {% endfor %}
                    {% endif %}
            </div>
        </div>
    </div>

 <!-- Overlay for Making Review -->
<div class="overlay" id="review" style="display: none">
    <div class="form-container">
        <button onclick="toggleForm()" class="close-btn">Close</button>
        <form action="{{ url_for('review', type=0) }}" method="POST" style="display: flex; flex-direction: column; font-size: 1rem;">
            <input type="hidden" id="product_id_field" name="product_id" value="">
            <div class="mb-4">
                <label for="comment" class="label">Comment:</label>
                <input type="text" class="form-input" id="comment" name="comment" required>
            </div>
            <div class="mb-4">
                <label for="speed_point" class="label">Speed:</label>
                <input type="number" max=5 class="form-input" id="speed_point" name="speed_point" required>
            </div>
            <div class="mb-4">
                <label for="quality_point" class="label">Quality:</label>
                <input type="number" max=5 class="form-input" id="quality_point" name="quality_point" required>
            </div>
            <div class="mb-4">
                <label for="interest_point" class="label">Interest:</label>
                <input type="number" max=5 class="form-input" id="interest_point" name="interest_point" required>
            </div>
            <button class="settings-button" type="submit">Save</button>
        </form>
    </div>
</div>

    <!-- Error Modal -->
<div id="errorModal" class="modal" style="display:none;">
  <div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span>
    <p id="errorMessage">Error message goes here.</p>
  </div>
</div>


<script>
    function toggleTabs(tabName) {
        var favorites = document.getElementById("favoritesTab");
        var orders = document.getElementById("ordersTab");
        if(tabName === "favoritesTab") {
             favorites.style.display = "block";  // Show the selected tab
             orders.style.display = "none";  // Show the selected tab

        }
        else if(tabName === "ordersTab") {
            favorites.style.display = "none";  // Show the selected tab
            orders.style.display = "block";  // Show the selected tab
        }

         let buttons = {
            ordersTab: document.getElementById('ordersButton'),
            favoritesTab: document.getElementById('favoritesButton'),
        };

        // Clear all selections
        Object.values(buttons).forEach(button => button.classList.remove('selected'));

        // Set the selected button
        buttons[tabName].classList.add('selected');

    }

    window.onload = function() {
        toggleTabs("favoritesTab"); // Default to showing the Favorites tab when the page loads
    };

    function showTab(productId) {
        document.getElementById('product_id_field').value = productId;
        var overlay = document.getElementById('review');
        overlay.style.display = 'flex';
    }

    function toggleForm() {
        var overlay = document.getElementById('review');
        overlay.style.display = 'none';
    }

    // When the user clicks on <span> (x), close the modal
document.querySelector('.close').onclick = function() {
  document.getElementById('errorModal').style.display = "none";
}

// Function to show the modal with the error message
function showError(message) {
  document.getElementById('errorMessage').innerText = message;
  document.getElementById('errorModal').style.display = "block";
}

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script>
  // Function to update the time-ago text based on a given element ID and date string
  function updateTimeAgo(timeID, date) {
      var targetElement = document.getElementById(timeID);
      if (targetElement) {
          var formattedTimeAgo = moment(date).fromNow();
          targetElement.textContent = formattedTimeAgo;
      } else {
          console.warn('Element with ID ' + timeID + ' not found.');
      }
  }

  // Wait for the DOM content to load
  document.addEventListener('DOMContentLoaded', function() {
      // Example arrays representing each post's ID and creation date
      {% for post in products_with_images %}
          updateTimeAgo("timeAgo{{ post[1] }}", "{{ post[7] }}");
      {% endfor %}

      {% for post in products_without_images %}
          updateTimeAgo("timeAgo{{ post[1] }}", "{{ post[7] }}");
      {% endfor %}
  });
</script>

{% endblock %}

