{% extends "base_customer.html" %}

{% block title %}
Profile
{% endblock %}

{%  block content %}

 <div class="profile-card">

            <div class="profile-header">
              <img src="{{user[11]}}" class="profile-image" alt="Profile Image">
              <div class="profile-details">

                        <p>
                            {{ user[9] }} {{ user[10] }}
                        </p>
                <h2>@{{ user[1] }}</h2>
                <h2 class="profile-bio">{{user.bio}}</h2>
                        <a href="{{url_for('customer_edit_profile')}}" class="btn">Edit Profile</a>
              </div>
            </div>
          </div>

        </div>
</div>
<div class="flex">
    <button class="toggle-title" onclick="toggleTabs('favoritesTab')">Favorites</button>
    <button class="toggle-title" onclick="toggleTabs('ordersTab')">Orders</button>
</div>
<div class="bottom-container">

    
    <div id="ordersTab" class="tab" style="display: none;">
         <div class="scroll-container">
                  {% if posts == 'Empty' %}
                        <div class="horizontal-card">
                                <div class="card-content">
                                    <h2>Anyone have not shared any post yet</h2>
                                    <h6> </h6>
                                </div>
                        </div>
                    {% else %}
                        {% for post in orders %}
                             <div class="horizontal-card">

                                       <div class="horizontal-card">

                                    <img style="width: 10%" class="horizontal-card-img" src="{{post[16]}}">
                                    <div class="card-content">
                                        <form action="{{ url_for('post_detail', product_id=post[2]) }}" method="get">
                                            <button type="submit">
                                                <h2>{{ post[5] }}</h2>
                                            </button>
                                        </form>
                                        <h1>{{ post[9] }} / {{ post[8] }}</h1>
                                        <h1 style="color: #FFFFFF">Ordered Amount: {{post[3]}}</h1>
                                        <div class="card-price">
                                            <h3>{{ post[7] }}₺</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="detailed-post">
                                      <div class="profile-for_card">
                                    <img class="profile-for_card" src="{{user[11]}}" alt="Profile Picture" style="margin: 0.5rem;">
                                    <form action="" method="post">
                                        <button type="submit" >
                                            <p>{{ user[9] }} {{ user[10] }}</p>
                                        </button>
                                        </form>
                                    </div>
                                    <div class="detailed-post-content">
                                        <h2>{{ post[10] }}
                                        </h2>
                                        <h1>Phone: {{ post[13] }}</h1>
                                        <h1>Address: {{ post[12] }}, {{ post[14] }}/{{ post[13] }}, {{post[15] }}</h1>
                                    </div>
                                </div>
                                <div class="detailed-post">
                                    <div class="detailed-post-content">
                                           {% if post[4] == 0 %}
                                                <h2>Status: CANCELLED</h2>
                                        {% elif post[4] == 1 %}
                                                <h2>Status: PROCESSING</h2>
                                        {% elif post[4] == 2 %}
                                                <h2>Status: SHIPPING</h2>
                                        {% else %}
                                               <h2>Status: DELIVERED</h2>
                                        {% endif %}
                                    </div>
                                    <br>
                                    <form class="filter-card" action="{{ url_for('profile') }}" method="post">
                                        <input type="hidden" name="order_id" id="order_id" value="{{ post[0] }}">
                                        <input type="hidden" name="status" id="status" value=0>
                                        <button type="submit" class="filter-button">Cancel Order <i class="fas fa-filter" style="color: #ffffff;"></i></button>
                                    </form>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
            </div>
    </div>

    <div id="favoritesTab" class="tab" style="display: none">
        <div class="card-container">

                {% if posts == 'Empty' %}
                        <div class="card">
                                <div class="card-content">
                                    <h2>No one have not shared any post yet</h2>
                                    <h6> </h6>
                                </div>
                        </div>
                    {% else %}
                        {% for post in products_without_images %}
                            <div class="card">
                                <div class="profile-for_card">
                                    <img class="profile-for_card" src="{{ post[12] }}" >
                                    <form action="" method="post">
                                        <button type="submit">
                                            <p>{{ post[10] }}</p>
                                        </button>
                                    </form>

                                </div>
                                <img class="card-img" src="/static/blankDark_image.jpg">
                                <div class="card-content">
                                <form action="{{ url_for('post_detail', product_id=post[1]) }}" method="get">
                                        <button type="submit">
                                            <h2>{{ post[3] }}</h2>
                                        </button>
                                    </form>
                                    <h1>{{ post[17] }} / {{ post[15] }}</h1>

                                </div>
                                <div class="card-price">
                                    {% if post.price == 0 %}
                                        <h3>Free</h3>
                                    {% else %}
                                            <h3>{{ post[2] }}₺</h3>
                                    {% endif %}
                                </div>
                                <div class="card-bottom">
                                    <h1>{{ post[7] }} ago</h1>
                                    <!-- Favorite button -->
                                    <form action="{{ url_for('toggle_favorite', product_id=post[1]) }}" method="post">
                                        <button type="submit" class="favorite-button">
                                            <i class="fa fa-heart" aria-hidden="true"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        {% endfor %}

                        {% for post in products_with_images %}
                        <div class="card">
                        <div class="profile-for_card">
                            <img class="profile-for_card" src="{{ post[12] }}" >
                            <form action="" method="post">
                                <button type="submit">
                                    <p>{{ post[10] }}</p>
                                </button>
                            </form>

                        </div>
                        <img class="card-img" src="{{ post[18] }}">
                        <div class="card-content">
                        <form action="{{ url_for('post_detail', product_id=post[1]) }}" method="get">
                                <button type="submit">
                                    <h2>{{ post[3] }}</h2>
                                </button>
                            </form>
                            <h1>{{ post[17] }} / {{ post[15] }}</h1>

                        </div>
                        <div class="card-price">
                                {% if post.price == 0 %}
                                <h3>Free</h3>
                            {% else %}
                                    <h3>{{ post[2] }}₺</h3>
                            {% endif %}
                        </div>
                        <div class="card-bottom">
                            <h1>{{ post[7] }} ago</h1>
                            <!-- Favorite button -->
                            <form action="{{ url_for('toggle_favorite', product_id=post[1]) }}" method="post">
                                <button type="submit" class="favorite-button">
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                        {% endfor %}
                    {% endif %}
            </div>
        </div>
    </div>
<script>
    function toggleTabs(tabName) {
        favorites = document.getElementById("favoritesTab");
        orders = document.getElementById("ordersTab");
        if(tabName === "favoritesTab") {
             favorites.style.display = "block";  // Show the selected tab
             orders.style.display = "none";  // Show the selected tab
        }
        else if(tabName === "ordersTab") {
            favorites.style.display = "none";  // Show the selected tab
            orders.style.display = "block";  // Show the selected tab
        }

    }

    window.onload = function() {
        toggleTabs("favoritesTab"); // Default to showing the Favorites tab when the page loads
    };
</script>

{% endblock %}

