{% extends "base_customer.html" %}
{% block title %}
Wallet
{% endblock %}

{% block content %}

        </div>
        <div class="right-container">
            <div class="detailed-post">
                    <div class="detailed-post-content">
                    <h2>Your Wallet:</h2>
                    <h1 style="color: #FFFFFF">Total Balance:</h1>
                        <h3>{{wallet[2]}}₺</h3>
                    <br>
                    </div>
                   <form action="{{ url_for('wallet') }}" method="post" style="width: 100%;display: flex;flex-direction: row;height: 3rem; font-size: 1rem; margin-top: 0.5rem">
                        <input min=0 type="number" class="form-input" style="width: 1rem;" id="insert_amount" name="insert_amount" >
                        <br>
                        <button class="settings-button" type="submit" style="margin-left: 0.5rem">Transfer Amount</button>
                   </form>
                </div>
            </div>
        </div>
</div>


{% endblock %}
